.console-grid-outlet {
  padding: 100px 0;
}

@media (max-width: 485px) {
  .console-grid-outlet {
    padding-top: 55px;
  }
}

.console-grid {
  transform:  scale(0.9);
  transition: transform 0.3s ease;
}

.console-grid.-appear {
  transform: none;
}

.console-grid-cells {
  /* Center cells which are displayed as inline-block. */
  text-align: center;

  width:      100%;
  max-width:  900px;
  margin:     30px auto 0 auto;
}

@media (max-width: 485px) {
  .console-grid-cells {
    max-width:  300px;
    margin-top: 15px;
  }
}

.console-grid-cell {
  display:    inline-block;
  text-align: left;
  padding:    15px;
}

@media (max-width: 485px) {
  .console-grid-cell {
    width: 100% !important;
  }
}

.console-grid-title {
  font-size:   30px;
  line-height: 1.2;
  font-weight: 300;
  text-align:  center;
  padding:     0 15px;
}
